@import "tailwindcss";



/*@layer components {*/
/*  .container {*/
/*    max-width: 1440px !important;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin: 0 110px !important;*/
/*  }*/
/*}*/
@layer components {
  .container {
    @apply mx-auto px-5;
    max-width: 100%;
  }

  @media (min-width: 1440px) {
    .container {
      max-width: 1140px;
      @apply mx-0;
    }
  }
}

@font-face {
  font-family: OpenSansBold;
  src: url('/fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: OpenSansRegular;
  src: url('/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: PoppinsRegular;
  src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  /*font-family: Arial, Helvetica, sans-serif;*/
  background: #333333;
}

.heder_bg{
background: rgba(51, 51, 51, 0.6)
}

.about_heading{
  font-family: OpenSansBold;
  font-weight: 700;
  font-size: 52px;
}
.about_heading_regular{
  font-family: OpenSansRegular;
  font-weight: 400;
  font-size: 18px;
}
.services_heading{
  font-family: PoppinsRegular;
  font-weight: 500;
  font-size: 43px;
}
.services_heading_paragraph{
  font-family: PoppinsRegular;
  font-weight: 300;
  font-size: 24px;
}
