@import "tailwindcss";



@layer components {
  .container {
    max-width: 1440px !important;
    /*display: flex;*/
    /*flex-direction: column;*/
    margin: 0 110px !important;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333333;
}

.heder_bg{
background: rgba(51, 51, 51, 0.6)
}
