@import "tailwindcss";

@theme {
  --breakpoint-2xl: 1440px;
  --width-content: 1180px;
}

@utility container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1.25rem;
  max-width: var(--width-content);

  @variant 2xl {
    padding-inline: 0;
  }
}

@font-face {
  font-family: OpenSansBold;
  src: url('/fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: OpenSansRegular;
  src: url('/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: PoppinsRegular;
  src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  /*font-family: Arial, Helvetica, sans-serif;*/
  background: #333333;
}

.heder_bg{
background: rgba(51, 51, 51, 0.6)
}

.about_heading{
  font-family: OpenSansBold;
  font-weight: 700;
  font-size: 52px;
}
.about_heading_regular{
  font-family: OpenSansRegular;
  font-weight: 400;
  font-size: 18px;
}
.header_nav_heading{
  font-family: OpenSansRegular;
  font-weight: 600;
  font-size: 18px;
}
.services_heading{
  font-family: PoppinsRegular;
  font-weight: 500;
  font-size: 43px;
}
.services_heading_paragraph{
  font-family: PoppinsRegular;
  font-weight: 300;
  font-size: 24px;
  line-height: 35px;
}
